---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

I am a winner of the <a href="https://gradsch.osu.edu/news/2022-graduate-associate-teaching-award-recipients" style="color:#000000;">2022</a> <a href="https://gradsch.osu.edu/graduate-associate-teaching-award-gata" style="color:#000000;">Graduate Associate Teaching Award</a>. The Graduate Associate Teaching Award is Ohio State’s highest recognition of the exceptional teaching provided by graduate students serving as Graduate Teaching Associates.

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
